
p{
padding: 4px 4px 4px 15px;
    color: #868686;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    outline: none !important;
}

.selected-link{
    color: #800020;
    padding: 4px 4px 4px 15px;
    font-weight: 500;
    font-size: 1.15em;
    background-color: rgb(226, 226, 226);
    outline: none !important; 
}