<mat-list>
  <!-- <div class= "profile-card">
    <div class="header">
      <h2>Katlego Thongwane</h2>
      <h4>example@gmail.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt='image of dog'>
  </div> -->

</mat-list>
<div [routerLink] = "['']">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Home
</div >
<mat-divider></mat-divider>
<div [routerLink] = "['/courses']">
  Courses
</div>
<mat-divider></mat-divider>
<div [routerLink] = "['/trainers']">
  Trainers
</div>
<mat-divider></mat-divider>
<div [routerLink] = "['/addTrainer']">
  Add Trainer
</div>
<mat-divider></mat-divider>
<div [routerLink] = "['/addNewCourse']">
  Add New Course
</div>
<mat-divider></mat-divider>
