<!-- <mat-list>
  <div class= "profile-card">
    <div class="header">
      <h2>Katlego Thongwane</h2>
      <h4>example@gmail.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt='image of dog'>
  </div>
</mat-list> -->

<mat-nav-list>

<div [routerLink] = "['/default']">
 Home
</div >
<mat-divider></mat-divider>
<div [routerLink] = "['/default/courses']">
  Courses
</div>
<mat-divider></mat-divider>
<div [routerLink] = "['/default/applications']">
  Applications
</div>


</mat-nav-list>