
<h1>Register a user</h1>
<form [formGroup]="turtorForm" >
  <div class="example-container">
    <mat-form-field>
      <mat-label>first name</mat-label>
      <input matInput formControlName="firstname">
     
    </mat-form-field>
    <!-- <ng-container *ngIf="turtorForm.get('course').touched && turtorForm.get('course').hasError('required')">
      <small>Required Field</small>
    </ng-container> -->
    <mat-form-field>
      <mat-label>last name</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
    <!-- <ng-container *ngIf="turtorForm.get('course_id').touched && turtorForm.get('course_id').hasError('required')">
      <small>Required Field</small>
    </ng-container> -->

    <mat-form-field>
      <mat-label>Id number</mat-label>
      <input matInput formControlName="idnumber">
    </mat-form-field>

    <mat-form-field>
      <mat-label>cell number</mat-label>
      <input matInput formControlName="cellnumber">
    </mat-form-field>

    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
   
   
   </div>

   <button mat-flat-button>submit</button>
</form>


