<br>
<button mat-raised-button routerLink="/default/trainers">Assign an existing tutor to a course</button>


<div class="container">
  <hr class="hr-text" data-content="OR">

</div>

<h2>Fill in tutour details</h2>
    <form [formGroup]="turtorForm" (ngSubmit)="submitForm()">
      <div class="example-container">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstname">

        </mat-form-field>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cellphone</mat-label>
          <input matInput formControlName="cellphone">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password2">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input matInput formControlName="password1">
        </mat-form-field>

      </div>


    <mat-form-field id="course-select">
      <mat-label>Select course:</mat-label>
      <mat-select (selectionChange)="selectedCourse($event.value)">
        <mat-option *ngFor="let course of allCourses$ | async as courses; let i = index" [value]="course">
          {{course?.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <button mat-flat-button [disabled]="!turtorForm.valid">submit</button>

  </form> 