#course-select{
    width: 400px;
    margin-top: 50px;
}

.turtors{
    // border: 1px solid grey;

    #msg{
        font-weight: 400;
        color: rgba(0, 0, 0, 0.52);
    }
 
    .available{
        background-color: #80002031;
        border: none;
        padding: 10px;

        .box {
            display: inline-block;
            width: auto;
            height: auto;
            margin-right: 20px;
            margin-bottom: 5px;
            padding-top: 20px; 
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            background-color: #f5f5f54d;

            p{
                margin-left: 25px;
                margin-right: 25px;
            }

            button{
                width: 100%;
                border: none;
                // background-color: #800020;
                cursor: pointer;
                padding: 8px;
            }
          }
    }

    .ng-template{
        background-color: blue;;
    }

    .turtor-form{
        margin-top: 15px;
        padding: 5px;
    }
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    vertical-align: middle;
    
  }
  .duration-container{
    display: inline; 
    flex-direction: row;
    
}
.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.example-container .mat-radio-button {
  margin: 0 12px;
}

button{
  border: none;
  background-color: #800020;
  color: white;
  cursor: pointer;
}

#add-turtor{
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #ebebeb;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
    .material-icons{
      color: #800020;
    }

    
}


.class-show-form{
//   border: 1px solid red;
  width: 80%;
  height: auto;
  margin-top: 35px;
  padding: 10px;
}

.mat-form-field{
  width: 300px;
}
table{
  width: 90%;
  background-color: #FCFCFCFC;

  #row{
  }

  #row:hover {
    background-color: #8000202a;
    padding: 5px;
    cursor: pointer;
    font-size: 1.3em;
  }
}

.container {
  max-width: 50%;  
 // margin: 20px auto;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

.tutor-page{
  padding: 10px;
}