<form [formGroup]="userForm" >
  <div class="example-container">
    <mat-form-field>
      <mat-label>first name</mat-label>
      <input matInput formControlName="firstname" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>last name</mat-label>
      <input matInput formControlName="lastname" required>
    </mat-form-field>
 <br>
     
      <mat-label>Gender :</mat-label>
      <mat-radio-group formControlName="gender" required class="example-radio-group">
        <mat-radio-button value="male"class="example-radio-button" *ngFor="let item of gender" [value]="item">{{item}}</mat-radio-button>
  
       
      </mat-radio-group>
<br>
    <mat-form-field>
      <mat-label>Id number</mat-label>
      <input matInput formControlName="idnumber" required>
    </mat-form-field>
<br>
    <mat-form-field>
      <mat-label>cell number</mat-label>
      <input matInput formControlName="cellnumber" required>
    </mat-form-field>
<br>
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

  </div>
</form>
  <button mat-raised-button [disabled]="!userForm.valid">Submit</button>
