<form [formGroup] = "form" (ngSubmit)="onSubmit()">

  <mat-form-field >
    <input matInput 
     formControlName = "name"
    placeholder="First name"
    autocomplete="off"
    type="text"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName = "surname"
    placeholder="Last name"
    autocomplete="off"
    type="text"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName = "email"
    placeholder="Email"
    autocomplete="off"
    type="email"/>

    <!-- <mat-error *ngIf="email.invalid && email.dirty">
      You must enter a vaild email address
    </mat-error> -->
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName = "cellphone"
    placeholder="Cellphone number"
    autocomplete="off"
    type="tel"/>
  </mat-form-field>


  <br>
  <button matButton
    [disabled]="form.invalid" type="submit">Add a new admin</button>
</form>





























