
<h1><button mat-raised-button  routerLink="/default/courses"><i class="material-icons left">
  keyboard_backspace
  </i></button>Edit a course</h1>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()"  >

      <mat-card>
        <mat-card-header>
         Cover image
          </mat-card-header>
          <!-- <mat-card-content id="overlay" ></mat-card-content> -->

          <!-- <div class="loader-27">
          </div> -->
          <div class="overlay">
            <img [src]="courseCover" *ngIf="courseCover" height="500px" width="500px">
            <div class="overlay__inner">
                <div class="overlay__content" *ngIf="courseCover == null || uploadingNewCover" ><span class="spinner"></span></div>
            </div>
        </div>
          <mat-card-footer>
        <!-- <button mat-raised-button class="now" (click)="changeCover()" type="button" > -->
          <input #file type="file" class="now" accept='image/*' (change)="preview(file.files)" /> 
      <!-- upload new image</button> -->
        </mat-card-footer>
    </mat-card>
      <!-- <div>
          <img [src]="courseCover" width="auto" height="auto">
         <img [src]="courseCover" width="auto" height="auto">
        <input #file type="file" accept='image/*' (change)="preview(file.files)" /> 

          <img [src]="imgURL" width="400" height="400" *ngIf="imgURL"><br>

        <button class="now" (click)="changeCover()"  type="button" matSuffix mat-icon-button>
          <i class="material-icons">backup</i></button>
      </div> -->

      <mat-form-field class="example-full-width">
        <mat-label>Course name:</mat-label>
        <input matInput type="text" name="name" formControlName="courseName">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Course Id:</mat-label>
        <input matInput type="text" name="id" formControlName="code">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fees:</mat-label>
        <input matInput type="text" name="fees" formControlName="courseFee">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>deposit:</mat-label>
        <input matInput name="deposit" formControlName="deposit">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput #message maxlength="256" name="description" placeholder="description" formControlName="description" required></textarea>
        <mat-hint align="start"><strong>Provide a full description of the course</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>

      <div>
        <button mat-button type="submit"  matStepperNext>Next</button>
      </div>
      <!-- [disabled]="!courseForm.valid" -->
    </form>
  </mat-step>
  <mat-step>
    <!-- <form> -->

      <div class="example-container2">
        <mat-label>Fees Includes:</mat-label>
        <ul *ngFor='let item of feesIncludes; let i = index;'>
          <li (click)="remove(0,i)"> {{item}}<i class="material-icons">remove</i></li>
 
        </ul>

        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="newFeeInclude" placeholder="add items to the list">
          <button type="button" (click)="addMore()" matSuffix mat-icon-button>
            <i class="material-icons">add</i></button>
        </mat-form-field>

        <mat-label>Requrements: </mat-label>
        <ul *ngFor='let item of requirements; let i = index;'>
          <li (click)="remove(1,i)" > {{item}} <i class="material-icons">remove</i></li>
        </ul><br>
        <mat-form-field class="example-full-width">
          <input matInput name="requirements" placeholder="add requirments" [(ngModel)]="newRequirements" >
          <button type="button" (click)="addMore()"  matSuffix mat-icon-button>
            <i class="material-icons">add</i></button>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="changes()">Apply Changes!</button>
        </div>
      </div>
    <!-- </form> -->
  </mat-step>

</mat-horizontal-stepper>