
<h1><button mat-raised-button  routerLink="/default/courses"><i class="material-icons left">
  keyboard_backspace
  </i></button>Edit a course</h1>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <form>

      <mat-card>
        <mat-card-header>
         Cover image
          </mat-card-header>
          <mat-card-content><img [src]="courseCover" height="500px" width="100%"></mat-card-content>
          <mat-card-footer>
        <button mat-raised-button class="now" type="button" >
      upload new image</button>
        </mat-card-footer>
    </mat-card>

      <mat-form-field class="example-full-width">
        <mat-label>Course name:</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="courseName">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Course Id:</mat-label>
        <input matInput type="text" name="id" [(ngModel)]="courseId">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Fees:</mat-label>
        <input matInput type="text" name="fees" [(ngModel)]="courseFee">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>deposit:</mat-label>
        <input matInput name="deposit" [(ngModel)]="deposit">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput #message maxlength="256" name="description" placeholder="description" [(ngModel)]="description" required></textarea>
        <mat-hint align="start"><strong>Provide a full description of the course</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <!-- <form> -->

      <div class="example-container2">
        <mat-label>Fees Includes:</mat-label>
        <ul *ngFor='let item of feeIncludesArray'>
          <li> {{item}}<i class="material-icons">remove</i></li>

        </ul>

        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="newFeeInclude" placeholder="add items to the list">
          <button type="button" (click)="addMore()" matSuffix mat-icon-button>
            <i class="material-icons">add</i></button>
        </mat-form-field>

        <mat-label>Requrements: </mat-label>
        <ul *ngFor='let item of requirementsArray'>
          <li> {{item}}<i class="material-icons">remove</i></li>
        </ul><br>
        <mat-form-field class="example-full-width">
          <input matInput name="requirements" placeholder="add requirments" [(ngModel)]="newRequirements" >
          <button type="button" (click)="addMore()"  matSuffix mat-icon-button>
            <i class="material-icons">add</i></button>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="changes()">Apply Changes!</button>
        </div>
      </div>
    <!-- </form> -->
  </mat-step>

</mat-horizontal-stepper>