<h1>Applications</h1>

<mat-form-field>
  <mat-label>Courses</mat-label>
  <mat-select (selectionChange)="doSomething($event)">
    <mat-option *ngFor="let item of course | async" [value]="item?.id">
      {{item?.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-checkbox *ngIf="!isChecked" [checked]="isChecked"  (change)="showAllStudents()">Show all!</mat-checkbox>
<table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position</th>
        <td mat-cell *matCellDef="let user">{{user.position}}</td>
      </ng-container>
  <ng-container matColumnDef="applicant">
    <th mat-header-cell *matHeaderCellDef> Applicant name</th>
    <td mat-cell *matCellDef="let user">{{user.firstName}} {{user.lastName}}</td>
  </ng-container>
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef>Registered course</th>
    <td mat-cell *matCellDef="let user">
      <h1>{{user.course}}</h1>
      
    </td>
  </ng-container>

  <ng-container matColumnDef="cellphone">
    <th mat-header-cell *matHeaderCellDef> Cellphone</th>
    <td mat-cell *matCellDef="let user">{{user.cellNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> CV</th>
    <td mat-cell *matCellDef="let user">
      <p *ngIf="user.cvUrl != ''">Yes</p>
  </ng-container>

  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id copy</th>
      <td mat-cell *matCellDef="let user">
        <p *ngIf="user.idUrl != ''">Yes</p>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="clickedRow(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[1, 2, 4, 8]" showFirstLastButtons></mat-paginator>