

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 2px;;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
}

button{

  background-color: #800020;
  color: white;
  border: none;
  width: 150px;
  outline-color: NONE;
  
}