
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  padding: 7px;
  margin-top: 7px;
}

button{

  background-color: #800020;
  color: white;
  border: none;
  width: 150px;
  outline-color: NONE;
  
}
.container{
  background-color: #D3D3D3;
  padding: 10px;
  color: black;
}
mat-label{

  color: black; 
}
label{
  margin-top: 10px;
}
