<h1>Add new course content</h1>
<form [formGroup]="courseForm" >

<div class="container">
  <h4>PDF file</h4>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput  formControlName="pdfTitle" >
    

  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Select a course</mat-label>
    <select matNativeControl required>
    </select>
  </mat-form-field><br>
  <label class="file">
    <input type="file"  accept="pdf/*" aria-label="File browser example">
    <span class="file-custom"></span>
  </label><br>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="premium">Premium</mat-radio-button>
    <mat-radio-button value="all">All </mat-radio-button>
  </mat-radio-group>
<br>
</div><br>

<div class="container">
  <h4>Video file</h4>
<mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput placeholder="title" formControlName="vTitle" >
</mat-form-field><br>
<mat-form-field>
  <mat-label>Select a course</mat-label>
  <select matNativeControl required>
  </select>
</mat-form-field><br>
  <label class="file">
    <input type="file" accept="video/*"aria-label="File browser example">
    <span class="file-custom"></span>
  </label><br>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="premium">Premium</mat-radio-button>
    <mat-radio-button value="all">All </mat-radio-button>
  </mat-radio-group>
</div>
<br>
</form>
<button mat-raised-button >Submit</button>