:host{

    display:flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 200px;
    border-right:  none;
    text-align: start;
}

mat-drawer-container{

    height: 100%;
}

mat-drawer-content{
    padding: 10px;
    background-color: #EBECF0;
    color: #868686;
    border: none;

    mat-card{
        height: 100%;
        width: 100%;
        position: relative;
        color: #808080;
        border: none;
    }
}