:host{
    display:flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 200px;
    //border-right:  none;
    text-align: start;
    padding-right: 7px;
}

mat-drawer-container{

    height: 100%;
}

mat-drawer-content{
    padding: 10px;
    // background-color: rgb(226, 226, 226);
    //color: #868686;
    background-color: white;
    color: #808080;
    border: none;

    mat-card{
        height: 100%;
        width: 100%;
        position: relative;
        color: #808080;
        border: none;
        //padding-bottom: 20px;
    }
    
}
.float{
	position:fixed;
	width:80px;
	height:80px;
	bottom:70px;
	left:40px;
	background-color:#800020;
	color:#FFF;
	border-radius:60px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    outline: none !important;
    cursor: pointer;
}