


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}


.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  vertical-align: middle;
  //margin-right: 12px;
  
  
}

.example-container .date-field{
  display: flex;
  flex-direction: row;
  width: 25%;
  vertical-align: center;
  margin-right: 20px;
  
}
.duration-container{
  display: inline; 
  flex-direction: row;
  
}
.mat-form-field--inline {
display: flex;
flex-direction: row;
align-items: middle;
}

.mat-form-field--inline .mat-form-field {
display: inline-block;
width: 100%;
vertical-align: middle;

  
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
//margin-right: 10px;
margin-left: 10px;
}
button{

  background-color: #800020;
  color: white;
  
}

#requirement-btn{
  border: none;
  width: 100px;
  outline-color: NONE;
}
